.column-type-icon {
    cursor: pointer !important;
}

.js-column-message {
    display: none !important;
}

.done .activity-header .icon-heart-filled {
    color: #9DCCE0 !important;
}

.filter-enabled .mdl .column-type-icon {
    color: #1DA1F2 !important;
}

.app-columns .filter-enabled .column-content {
    max-height: 0 !important;
}

.filter-content {
    height: 100% !important;
    overflow-y: auto !important;
}

.hidden .item-box {
    opacity: 0.25 !important;
}

.hidden .tweet-body {
    display: none !important;
}
