table {
    display: none !important;
}

#logo {
    display: none !important;
}

#header-top-banner-rss {
    display: none !important;
}

#side_left {
    display: none !important;
}

#side_right {
    display: none !important;
}

#tags {
    display: none !important;
}

#hot_tweet {
    display: none !important;
}

#popular_articles_comment {
    display: none !important;
}

#other_news_website {
    display: none !important;
}

#gStickyAd {
    display: none !important;
}

.jin-ads {
    display: none !important;
}

.footer_social_ad {
    display: none !important;
}

.related-articles {
    display: none !important;
}

.article_footer {
    display: none !important;
}

.comment_form {
    display: none !important;
}

.article_bodymore {
    margin-bottom: 0 !important;
}
