#video-title {
    max-height: 80px !important;
    -webkit-line-clamp: 4 !important;
}

.video-filter-btn {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.video-filter-btn svg {
    height: 100%;
    width: 100%;
}

.video-filter-btn[type="disabled"] {
    color: var(--yt-spec-icon-inactive);
}

.video-filter-btn[type="enabled"] {
    color: var(--yt-spec-call-to-action);
}

.video-filter-enabled #contents.ytd-section-list-renderer {
    margin-bottom: 200vh !important;
}

.video-filter-enabled .hidden {
    display: none !important;
}
