#video-title {
    max-height: 80px !important;
    -webkit-line-clamp: 4 !important;
}

yt-live-chat-viewer-engagement-message-renderer {
    display: none !important;
}

.filter-enabled #contents.ytd-section-list-renderer {
    margin-bottom: 200vh !important;
}

.filter-enabled .hidden {
    display: none !important;
}
