.p-message_pane_input__preview_subtitle {
    display: none !important;
}

.p-message_pane_input__preview_metadata {
    display: none !important;
}

.p-message_pane__top_banners {
    display: none !important;
}
