.switch-diff-btn {
    margin-left: 8px;
}

.commit-preview[enabled] ins {
    color: inherit !important;
    background: inherit !important;
    box-shadow: inherit !important;
}

.commit-preview[enabled] del {
    display: none !important;
}

.commit-preview[enabled] .added {
    color: inherit !important;
    background: inherit !important;
    box-shadow: inherit !important;
}

.commit-preview[enabled] .changed {
    background: inherit !important;
    box-shadow: inherit !important;
}

.commit-preview[enabled] .removed {
    display: none !important;
}
